
* {
    font-family: 'Maven Pro', sans-serif;
    margin: auto0;
    padding: 0;
}
    

header{      
    background-color: #0e76b2;
     
}
nav{   
       
    list-style-type: none;  
    display: flex; 
    padding: 0 24px;
    text-decoration: none;
    justify-content: space-between;    
    align-items: center;
    height: 50px;
    
} 
ul.nav { 
	margin:0; 
	padding:0;
}
	
ul.nav li {
		
	display:inline;
}
ul.nav li a {
        float:left;
        border-top:0.1em solid #fff;
        border-right:0.1em solid #6fcaf4;
        border-bottom:0.1em solid #6fcaf4;
        border-left:0.1em solid #fff;
        width:6.0em;
        font:0.68em  Verdana, Arial, Helvetica, 
        sans-serif;
        background:#f1f1f1;
        color:#333;
        text-align:center;
        padding:0  0.2em 0.2em  0;
        text-decoration:none;
        border-radius: 50px;
}
ul.nav a:hover{
        background:#24a7ce;
        color:#fff;
        border-color:#000 #fafafa #fafafa #000;
        font-size: 10px;
}        

ul.redes img {
    width: 50px;
    height: 50px;


}
.logo img{  
    display: block; 
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: left;
    margin-right: auto ;
}
body{
    background-color: rgb(32, 143, 176);    
    background-image: url("Imagens/fundo.jpg");
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-size:cover;
}
main{
    width: 1000px;
    padding: 16px;
    margin: auto;
    
} 
section {
    display:flex;
    align-items: center;
}
section div {
    background-color: rgb(41, 176, 206);
    width: 1000px;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
   
    
    
}
section div img {
    
    text-align: center;
    border-radius: 50px;
    width: 300px;
    height: 300px;  
      
}

h1{
    padding: 10px;
    color: white ;
    background-color:rgb(41, 176, 206);
    font-size: 30px;
    text-align: center
  }
h2{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    
  }
article {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.botao{
    border: solid 1px blue;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    box-shadow: #05023d;
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    
}
.botao:hover{
    background-color: rgb(19, 112, 188);
    color: white;
    transform: scale(1.2)
}

footer {
    align-items: center;
    text-align: center;

}
